
[Unit]
Description=Icecream Distributed Compiler Scheduler
After=network.target nss-lookup.target

[Service]
Type=simple
# Set SHELL so that icecc-create-env does not have to attempt to detect its
# value by reading /etc/passwd. The SELinux policy does not need to allow it.
Environment=SHELL=/bin/bash
SyslogIdentifier=icecc-scheduler
ExecStart=/usr/sbin/icecc-scheduler -u icecream -v
Nice=5

[Install]
WantedBy=multi-user.target
